<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">

{% include head.html %}

<body>

  {% include header.html %}
  <main class="page-content" aria-label="Content">
    <div class="wrapper">


      <div class="ism-slider" data-play_type="loop" data-interval="3000" id="my-slider">
        <ol>
          <li>
            <img src={{ "/assets/img/1.png" | relative_url}}>
          </li>
          <li>
            <img src={{ "/assets/img/2.png" | relative_url}}>
          </li>
          <li>
            <img src={{ "/assets/img/3.png" | relative_url}}>
          </li>
          <li>
            <a href="" target="_self">
                        <img src={{"/assets/img/4.png" | relative_url}}>
                      </a>
          </li>
        </ol>
      </div>


      {{ content }}
    </div>
  </main>



</body>

</html>